<a href="https://colab.research.google.com/github/srikanthRyali2004/ex1.2/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             import pandas as pd
# Load the Titanic dataset
titanic_df = pd.read_csv('/content/titanic.csv')
# Display the first few rows of the dataset
print("Loaded Dataset:")
#(assuming it's saved as a CSV file)
print(titanic_df.head())

Loaded Dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [2]:
# Assuming 'Survived' is the dependent variable
y = titanic_df['Survived']
# Assuming the rest of the columns
#are independent variables
X = titanic_df.drop('Survived', axis=1)
# Display the dependent variable
print("\nDependent Variable (y):")
print(y.head())
# Display the independent variables
print("\nIndependent Variables (X):")
print(X.head())

Dependent Variable (y):
0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

Independent Variables (X):
   PassengerId  Pclass                                               Name  \
0            1       3                            Braund, Mr. Owen Harris
1            2       1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2            3       3                             Heikkinen, Miss. Laina
3            4       1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4            5       3                           Allen, Mr. William Henry

      Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
0    male  22.0      1      0         A/5 21171   7.2500   NaN        S
1  female  38.0      1      0          PC 17599  71.2833   C85        C
2  female  26.0      0      0  STON/O2. 3101282   7.9250   NaN        S
3  female  35.0      1      0            113803  53.1000  C123        S
4    male  35.0      0      0            373450   8.0500   NaN        S

In [4]:
# Check for missing data
missing_data = titanic_df.isnull().sum()
print("\nMissing Data:")
print(missing_data)
# Drop rows with missing values
#(in this example, we drop rows with any missing val
#titanic_df_cleaned = titanic_df.dropna()
# Alternatively, impute missing values using the
#mean or median or ffill
titanic_df_cleaned =titanic_df.fillna(titanic_df.ffill())
# Display the cleaned dataset
print("\nCleaned Dataset:")
print(titanic_df_cleaned.head(10))

Missing Data:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Cleaned Dataset:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male  35.0      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   C85        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500  C123        S
5      0            330877   8.4583  C123        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   E46        S
8      2            347742  11.1333   E46        S
9      0            237736  30.0708   E46        C